/* src/ImageSlider.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.image-slider {
    margin: 5px;
   position: relative;
   z-index:1;
 }
 
 .slick-slide {
   padding: 10px;
 }
 
 .slick-prev:before,
 .slick-next:before {
   color: black;
   margin-left: 10px;
 }
 
 .slick-dots li button:before {
   color: black;
 }
 
 .slide img {
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 } 


 /* @media (max-width: 768px) {
  .slick-slide {
    padding: 8px;
  }

  .slide img {
    border-radius: 8px;
  }
} */

@media (max-width: 768px) {
  .slick-slide {
    padding: 5px;
    
  }

  .slide img {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 18px;
    margin-left: 5px;
    display: none;
  }

  .slick-dots li button:before {
    font-size: 8px;
  }
}


 