.root-blog-sec-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    max-height: 20rem;
    /* flex-direction: column; */
}

.blog-sec-card {
    width: 90%;
    display: flex;
    background-color: white;
    /* height: 30rem; */
    /* max-height: 20rem; */
    margin-bottom: 15px;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sec-card-details {
    display: flex;
    justify-content: left;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    /* height:15rem; */
}

.auth-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.sec-card-details div p {
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
}

.sec-card-details span {
    padding: 0px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 8px;
}

.sec-card-info {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 5px;
    font-weight: 800;
}

.blog-sec-para {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.description {
    font-size: 14px;
    margin-bottom: 16px;
    color: grey;
    line-height: 22px;
    width: 100%;
    margin-top: 6px;
}

.sec-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Set a fixed height for the image container */
    overflow: hidden; /* Ensure content doesn't overflow */
    margin-top: 10px; /* Adjust margin as needed */
}

.sec-card-image img {
    width: 112px;
    aspect-ratio: auto 112 / 112;
    height: 112px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-top: 40px;
}

.sec-card-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left button {
    background-color: #d7d4d4;
    padding:12px 18px;
    border-radius:18px ;
    color: black;
    border: 1px solid transparent;
    border-width: 1px;
    cursor: pointer;
    border-style:groove;
    row-gap: 12px;
    transition: background-color #d7d4d4 0.3s ease, transform 0.3s ease;
    color:black;

}

.footer-left {
    display: flex;
    flex-wrap: wrap;

}

.footer-left span {

    font-size: 14px;
    cursor: pointer;
    margin-left: 14px;
}

.read-more {
    padding: 0.5rem 1rem;
    background-color: white;
    padding: 12px 18px;
    border-radius: 8px;
    color: #C5291D;
    border-color: #C5291D;
    border-width: 1px;
    cursor: pointer;
    border-style: groove;
    transition: all 0.3s;
    /* margin-bottom: 15px; */
}

.read-more:hover {
    background-color: #C5291D;
    color: white;
    transition: all 0.3s;
}

@media (min-width: 768px) {
    .blog-sec-card {
        flex-direction: row; /* Change to row direction for larger screens */
        height: 14rem;
        border-radius: 18px;
        /* max-height: 15rem; */
    }

    .sec-card-details {
        width: 70%;
    }

    .sec-card-image {
        margin-left: 40px;
        margin-top: 0; /* Reset margin-top for larger screens */
    }
}
@media (max-width: 480px) {
    .sec-card-image {
        order: 3; /* Move image to the bottom */
        margin-top: 10px; /* Adjust margin */
    }

    .sec-card-details {
        padding-bottom: 10px; /* Add padding at the bottom of details */
    }
}
@media (max-width: 768px) {
    .blog-sec-card {
        width: 80%; /* Full width on mobile */
        overflow-y: scroll;
        margin-bottom: 12px;
        border: 1px solid grey;
        border-radius: 18px;
    }

    .sec-card-details {
        padding: 10px 10px 0 10px; /* Adjust padding for spacing */
    }

    .sec-card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 120px; /* Set a fixed height for the image container */
        margin-top: 0px; /* Adjust margin as needed */
    }
    
    
    .sec-card-image img {
        width: 100%; /* Full width for responsiveness */
        height:120px; /* Take full height of its container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
        border-radius: 8px;
    }
    .description{
        font-size: 12px;
        line-height: 18px;
        margin-top: 2px;
    }

    .footer-left,.read-more{
        display: none; /* Hide footer content on mobile */
    }
    .title{
        font-size: 18px;
    }
    .sec-card-details div p{
        font-size: 10px;
    }
    .sec-card-details span{
        font-size: 10px;
    }
    .auth-image {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }
   
    
}
