body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5EB;
}

.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}