@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.Parent {
    height: 100%;
    padding: 30px 30px;
    background-color: #F9F5EB;
}

/* body{
    background-color: #F9F5EB;
} */

.Parent h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    padding: 12px 8px;
    color:#C5291D;

}

.heading {
    display: flex;
    padding: 12px;
    justify-content: space-between;
}
.branch-drop{
    width:60%;
    border:2px solid #C5291D;
    height:40px;
    background-color: white;
    border-radius: 10px;
    color:#C5291D;
    padding:8px 15px;
    margin-right: -30px;
    position: relative;
}

.heading .left-head{
    display: flex;
    gap:2px;
}
option{
    background-color:#F9F5EB ;
    color:#C5291D;
    font-weight: 500;
}

.heading button {
    background-color: white;
    padding: 12px 18px;
    border-radius: 8px;
    color: #C5291D;
    border-color: #C5291D;
    border-width: 1px;
    cursor: pointer;
    border-style: groove;
    row-gap: 12px;
}

.heading div {
    margin-right: 20px;
    word-wrap: normal;
}

.heading button:hover {
    background-color: #C5291D;
    color: white;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
}
.text-input-blog-search{
    border:2px solid #C5291D;
    height:3rem;
    padding:8px;
    border-radius: 15px;
    color:#C5291D;
    font-weight: 600;
    /* margin-bottom: 2rem; */
    margin-top: -0.5rem;
    font-size: 12px;
}
.text-input-blog-search:focus{
    border:2px solid #C5291D;
    height:3rem;
    padding:12px;
    
}
.batch-drop{
    border:2px solid #C5291D;
    height:40px;
    background-color: white;
    border-radius: 10px;
    color:#C5291D;
    padding:8px 15px;
    margin-right: -30px;
    width:10rem;
}
select::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .select::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  select::-webkit-scrollbar-thumb {
    background: #a1605b; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #f1f1f1; /* Adds a border around the thumb */
  }
  
  select::-webkit-scrollbar-thumb:hover {
    background: #A71C15; /* Darker color when hovering over the thumb */
  }

@media (max-width: 400px) {

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        text-align: center;
    }

    .heading div {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    color: #C5291D;
    border: 1px solid #C5291D;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #C5291D;
    color: white;
}