.parent-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height:100vh;
    
}

.signup-container {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 30em;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 60px;
    margin-top: 60px;
    
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    animation: slideIn 0.5s ease-in-out; 
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
}
.input-group input:focus,
.input-group select:focus {
    box-shadow: 0 0 5px rgba(196, 196, 196, 0.5); /* Add focus effect */
}

.name-fields {
    display: flex;
    gap: 10px;
}

.name-fields input {
    width: 48%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}