/* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5EB;
} */


.main-blog-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px;
    /* padding: 0 10px; */
}

.blog-card {
    background: #ffffff;
    border-radius: 2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%; /* Take full width */
    max-width: 31em; /* Maximum width */
    position: relative;
    z-index: 1;
    max-height: 25.2rem;
    min-height: 22rem;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.card-image {
    overflow: hidden; /* Ensure the image stays within its container */
}

.card-image img {
    width: 100%;
    height: 12rem;
    display: block;
    object-fit: cover; /* Ensure images fill the space */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease; /* Smooth transition */
}

.card-image img:hover {
    cursor: pointer;
    transform: scale(1.3); /* Zoom in on hover */
}

.card-content {
    padding: 1rem;
}

.card-category {
    background: #1F7A8C;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: inline-block;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.card-title {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    font-weight: 700;
    text-decoration: none;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.card-desc {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #666;
    height: 5rem;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.card-footer {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0.75rem;
    margin-top: -0.9375rem;
}

.aut-image img {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
}

.aut-desc div {
    display: flex;
    flex-direction: column;
    padding: 0 0.625rem;
}

.aut-desc span {
    font-size: 0.8rem;
    color: black;
}

.aut-desc span:first-child {
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .main-blog-card {
        width: 100%;
        margin: 0 10px;
    }

    .blog-card {
        width: calc(100% - 30px); /* Adjusted width */
        max-width: 100%;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-desc {
        font-size: 0.8rem;
    }

    .card-footer {
        padding: 5px;
    }

    .aut-image img {
        width: 2rem;
        height: 2rem;
    }

    .aut-desc div {
        padding: 0 5px;
    }

    .aut-desc span {
        font-size: 0.7rem;
    }

    .aut-desc span:first-child {
        font-size: 0.8rem;
    }
}
