body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F5EB;
}

.Main-blog-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 10px;
}

.blog-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 18rem; /* Further reduced max-width */
    margin: 15px;
    position: relative;
    z-index: 1;
    border: 1px solid #C5291D;
    max-height: 30rem;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.card-image img {
    width: 100%;
    height: 12rem;
    display: block;
}

.card-content {
    padding: 1rem; /* Reduced padding */
}

.card-category {
    background: #b4c746;
    color: white;
    padding: 0.3125rem 0.625rem; /* Adjusted padding */
    border-radius: 5px;
    display: inline-block;
    font-size: 0.75rem; /* Adjusted font-size */
    margin-bottom: 0.625rem; /* Adjusted margin-bottom */
}

.card-title {
    font-size: 1.25rem; /* Adjusted font-size */
    margin: 0.625rem 0; /* Adjusted margins */
    font-weight: 700;
    text-decoration: none;
}

.card-title a {
    text-decoration: none;
    color: black;
}

.card-desc {
    font-size: 0.9rem; /* Further reduced font-size */
    margin-bottom: 1rem; /* Reduced margin-bottom */
    color: #666;
}

.card-footer {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0.75rem; /* Adjusted padding */
    margin-top: -0.9375rem; /* Adjusted margin-top */
}

.aut-image img {
    border-radius: 50%;
    width: 2.25rem; /* Reduced width */
    height: 2.25rem; /* Reduced height */
    box-sizing: border-box;
    vertical-align: middle;
    object-fit: cover;
}

.aut-desc div {
    display: flex;
    flex-direction: column;
    padding: 0 0.625rem; /* Adjusted padding */
}

.aut-desc span {
    font-size: 0.8rem; /* Reduced font-size */
    color: black;
}

.aut-desc span:first-child {
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .Main-blog-card {
        width: 100%;
        margin: 0 10px;
    }

    .blog-card {
        width: 100%;
        max-width: 100%; /* Make the card take full width */
    }

    .card-title {
        font-size: 1.1rem; /* Further reduced font-size */
    }

    .card-desc {
        font-size: 0.8rem; /* Further reduced font-size */
    }

    .card-footer {
        padding: 5px;
    }

    .aut-image img {
        width: 2rem; /* Further reduced width */
        height: 2rem; /* Further reduced height */
    }

    .aut-desc div {
        padding: 0 5px;
    }

    .aut-desc span {
        font-size: 0.7rem; /* Further reduced font-size */
    }

    .aut-desc span:first-child {
        font-size: 0.8rem; /* Further reduced font-size */
    }
}
