.hero-main {
    position: relative;
    background-image: url('../../assets/nitkkrimage.jpeg');
    height: 53.5vh;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    background-size: contain;

}

@media only screen and (max-width: 600px) {
    .hero-main {
        height: 80vh; /* Adjust height for mobile view if needed */
        width: 100vw;
    }
}
