/* src/Footer.css */

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.footer-logo img {
  width: 100px;
}

.footer-location,
.footer-links {
  margin: 0;
}

.footer-location h3,
.footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-location p {
  margin: 0;
  line-height: 1.5;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #ffc107; /* Change color on hover */
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-location,
  .footer-links {
    width: 100%;
  }

  .footer-links ul {
    display: flex;
    justify-content: center;
  }

  .footer-links ul li {
    margin: 0 10px;
  }
}
