/* CardSlider.css */

@keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideInRight {
    animation: slideInRight 0.5s forwards;
  }
  
  .animate-slideInLeft {
    animation: slideInLeft 0.5s forwards;
  }
  
  .slick-prev:before, .slick-next:before {
    content: '';
  }
  
  .slick-prev {
    left: -25px;
  }
  
  .slick-next {
    right: -25px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: gray;
  }
  
  .slick-dots li.slick-active button:before {
    color: black;
  }
  