.card {
    width: 100%;
    min-width: 12rem;
    max-width: 21rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
    background-color: white;
    margin: auto;
}

.card:hover {
    box-shadow: 2px 12px 20px #acacac;
    cursor: pointer;    
    transform: translateY(-5px);
}

.card-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #022B3A;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.Batch {
    color: #022B3A;
    font-weight: 600;
}

.head1 {
    display: flex;
    justify-content: space-around;
}

.card-header {
    padding: 1rem;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name h1 {
    font-size: 1.25rem;
    color: #022B3A;
    margin-bottom: 1.25rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.details div {
    padding: 4px 6px;
}

@media (max-width: 600px) {
    .card {
        margin: 0 10px;
    }

    .name h1 {
        font-size: 1.2em;
    }

    .profile-image {
        width: 4.5rem;
        height: 4.5rem;
    }

    .details {
        font-size: 0.9em;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .card {
        max-width: 18rem;
    }

    .name h1 {
        font-size: 1.1em;
    }

    .profile-image {
        width: 5.5rem;
        height: 5.5rem;
    }

    .details {
        font-size: 0.95em;
    }
}
