.card {
    width: 25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* background: #F9F5EB; */
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: all .2s;
    border: 2px solid #C5291D;
}
.card:hover{
    box-shadow: 2px 12px 20px #cb8985;
    cursor: pointer;
    transform:translateY(-5px);
}


.card-header {
    background: linear-gradient(to bottom, #e4cac9, #ffffff);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #C5291D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name h1 {
    font-size: 25px;
    color: #C5291D;
    margin-bottom: 25px;
    font-weight: 500;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.details div {
    padding: 10px 12px;
}

.details div :first-child {
    color: #C5291D;
}
@media (max-width: 600px) {
    .card {
        width: 100%;
        margin: 0 10px;
    }

    .name h1 {
        font-size: 1.2em;
    }

    .profile-image {
        width: 80px;
        height: 80px;
    }

    .details {
        font-size: 0.9em;
    }
}



