@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #F9F5EB; */
}