
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.nav-container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width:100vw;
}
.menu-icon{
  display: none;
}
.menu-icon img{
  font-size: 20px; /* Adjust font size as needed */
  color: firebrick;
  cursor: pointer;
  height: 40px; /* Match navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  color: black;
  cursor: pointer;
  height:auto;
  width:60px;
  font-size: 20px;
}
.logo{
  margin-right: 20px;
}
.navbar {
  height: 60px;
  background-color: firebrick;
  position: relative;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}
.logo{
  color:white;
}
@media (max-width: 600px) {
  .menu-icon {
    display: flex;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #f8f9fa; ;
    width: 0px;
    /* height: calc(100vh - 60px); */
    transition: all 0.3s ease-in;
    overflow: hidden;
    height:30vh;
  }

  .nav-elements.active {
    width: 100%;
  
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* White background for menu items */
    border-radius: 0 0 10px 10px; /* Rounded bottom corners for a better look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    height:100%;
    /* padding:15px; */
    margin:0;
    position: relative;
    z-index: 10;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
   /* text-align: center; */
    margin-left: 30px;
  }
  .nav-elements ul a {
    color: firebrick; /* Harmonious text color */
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    /* padding: 10px 0; */
    transition: color 0.3s ease;
  }

  .nav-elements ul a:hover {
    color: #d9534f; /* Slightly lighter shade on hover */
  }
}