.parent-event-card {
  /* background-color: #F9F5EB; */
  padding: 1rem;
}

.event-card {
  background-color: #faf1da;
  border: 2px solid #C5291D;
  border-radius: 18px;
  padding: 1rem;
  width: 100%;
  max-width: 18rem; /* Further reduced max-width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem auto; /* Center the card and give some margin */
}

.event-card-header {
  display: flex;
  gap: 1rem; /* Adjusted gap */
}

.event-dates {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.event-card-logo img {
  cursor: pointer;
  height: auto;
  width: 4rem; /* Adjusted width */
  font-size: 1rem; /* Adjusted font-size */
}

.vl {
  border-left: 2px solid rgb(133, 139, 133);
  height: 3rem; /* Adjusted height */
}

.date {
  font-size: 2rem; /* Adjusted font-size */
  font-weight: 700;
  color:#C5291D;
  margin-top: -0.75rem; /* Adjusted margin */
}

.month {
  font-size: 1.25rem; /* Adjusted font-size */
  color: black;
  font-weight: 700;
}

.event-card-title h1 {
  margin-top: 0.5rem; /* Adjusted margin-top */
  font-weight: 700;
  color:#C5291D;
  font-size: 1.25rem; /* Adjusted font-size */
}

.event-card-details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem; /* Adjusted margin-top */
}

.event-card-icon img {
  width: 0.625rem;
}

.event-card-icon {
  margin-right: 0.75rem;
}

.event-card-timing,
.event-card-location {
  display: flex;
}

.event-card-time,
.event-card-loc {
  color: #6b7280;
  font-size: 1rem; /* Adjusted font-size */
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .event-card {
    width: 100%;
    margin: 0.5rem 0.5rem; /* Adjusted margin */
  }

  .event-card-logo img {
    width: 3rem; /* Adjusted width */
  }

  .event-card-title h1 {
    font-size: 1rem; /* Adjusted font-size */
  }

  .event-card-time,
  .event-card-loc {
    font-size: 0.875rem; /* Adjusted font-size */
  }

  .vl {
    height: 2.5rem; /* Adjusted height */
  }

  .date {
    font-size: 1.75rem; /* Adjusted font-size */
  }

  .month {
    font-size: 1rem; /* Adjusted font-size */
  }
}
